---
import { ArrowUpOutlined } from '@ant-design/icons';

interface Props {
	
}

const {  } = Astro.props;
---
<div class="fixed z-1000 bottom-4 right-8">
    <a href="#inicio" class="relative rounded-full inline-flex items-center justify-center overflow-hidden animate-bounce w-8 h-8 text-sm font-medium text-gray-900 group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
        <span class="relative transition-all text-2xl ease-in duration-75 rounded-md group-hover:bg-opacity-0">
           <ArrowUpOutlined />
        </span>
    </a>
</div>

<style>

</style>