---
import { Image } from 'astro:assets';
import Nintendo from '../assets/Nintendo_Blanco.png';
// import { QuestionCircleOutlined } from '@ant-design/icons';
interface Props {
	
}

const {  } = Astro.props;
---


<div class="flex flex-col sm:p-8 md:p-16">
    <h1 class="text-2xl font-bold text-center my-3">Referencias</h1>
    <ul>
        <li><a class="text-xl text-indigo-600 underline underline-offset-1" href="https://www.nintendo.es/Hardware/La-historia-de-Nintendo/La-historia-de-Nintendo-625945.html">La Historia de Nintendo</a></li>
    </ul>
    <ul>
        <li><a class="text-xl text-indigo-600 underline underline-offset-1" href="https://areajugones.sport.es/videojuegos/la-historia-de-nintendo-desde-sus-origenes-hasta-hoy/">La Historia de Nintendo desde sus origenes hasta hoy</a></li>
    </ul>
    <ul>
        <li><a class="text-xl text-indigo-600 underline underline-offset-1" href="http://pueaa.unam.mx/multimedia/historia-de-nintendo">La Historia de Nintendo UNAM</a></li>
    </ul>
    <ul>
        <li><a class="text-xl text-indigo-600 underline underline-offset-1" href="https://historia.nationalgeographic.com.es/a/origenes-nintendo-fabricante-cartas-a-gigante-videojuegos_19846">Origenes de Nintendo</a></li>
    </ul>
    <ul>
        <li><a class="text-xl text-indigo-600 underline underline-offset-1" href="https://es.ign.com/nintendo/188988/feature/los-17-mejores-juegos-de-nintendo-de-la-historia">Los mejores juegos de Nintendo</a></li>
    </ul>
</div>
  
<style>

</style>
